h1
{
    color: green;
}
ul li a
{
    color: red;
}
div
{
    margin:auto;
}

h1
{
    font-size: 1.3em;
}
em
{
    font-style: normal;
}
h2
{
    font-style: italic;
}
h1
{
    font-weight: bold;
}
h1
{
    text-decoration: blink;
}
.souligne
{
    text-decoration: underline;
}
.barre
{
    text-decoration: line-through;
}
.ligne_dessus
{
    text-decoration: overline;
}
h1
{
    text-align:left;
}

p
{
    text-align: justify;
    color: rgb(0,0,0);
}
article
{
    text-align: justify;
}

aside
{
    text-align: center;
}
.imageflottante
{
    float: left;
}


.1
{
	text-align: right;
}

body
{
    background-color: rgb(255,255,255);
}

.id
{
	top left;
}

nav
{
    display: inline-block;
    width:1366px;
    
    margin:auto;
    
}



nav li
{
    display: inline-block;
    margin-right: 100px;
    
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
.Menu:hover
{
    color: green;
    border-bottom: 3px solid green;
}
.bloc_page
{
    width: 100px;
    margin: auto;
}
